@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/OpenSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: 100;
}
body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: 2px 2px 12px 1px #656565;
  transition: .4s;
}
button.button,
a.button {
  transition: .4s;
}
button.button:hover,
a.button:hover {
  box-shadow: 2px 2px 12px 1px #656565;
}

/* Styles for inputs placeholder */
::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 100;
}
::-moz-placeholder {
  color: #ffffff;
  font-weight: 100;
}
:-moz-placeholder {
  color: #ffffff;
  font-weight: 100;
}
:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 100;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: #ffffff;
}

/* Header styles begin */
.header {
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  height: 90px;
  box-sizing: border-box;
  position: relative;
}
    .header-logo,
    .header-nav {
      display: inline-block;
      vertical-align: middle;
    }
    .header-logo {
      width: 30%;
      height: 100%;
    }
    .header-logo-link {
      display: block;
      position: absolute;
      top: 50%;
      margin: -25px 0 0 20px;
    }
    .header-logo__image {
      width: 450px;
    }
    .header-nav {
      width: 69%;
      height: 100%;
      text-align: right;
    }
    .header-nav-list {
      padding-right: 50px;
      height: 100%;
    }
    .header-nav-list__item {
      display: inline-block;
      vertical-align: middle;
    }
    .header-nav-list__item:not(:last-child) {
      margin-right: 20px;
    }
    .header-nav-list__item-link {
      color: #000000;
      text-decoration: none;
      font-size: 2rem;
      line-height: 90px;
    }
    .header-nav-list__item-link:hover {
      text-decoration: underline;
    }

/* Header styles end */


/* Content styles begin */
.content_coloured {
  background: #96c1c0;
}
    .content-header {
      background: #96c1c0;
      position: relative;
      z-index: 2;
    }
    .content-header::after {
      content: '';
      display: block;
      position: absolute;
      margin: 0 0 0 -40px;
      left: 50%;
      z-index: -1;
      border: 40px solid transparent;
      border-top: 17px solid #96c1c0;
      bottom: -55px;
    }
    .content-header__breadcrumbs {
      padding: 40px 0;
      color: #ffffff;
      font-size: 2.5rem;
    }
    .content-header__breadcrumbs-current {
      font-weight: bold;
    }
    .content-wrapper {
      max-width: 1250px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .content-wrapper .content-login-form {
      max-width: 750px;
      margin: 0 auto;
      color: #ffffff;
      text-align: center;
    }
    .content-wrapper .content-login-form .login-form__logo {
      width: 40%;
      margin: 80px 0;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__header {
      padding-left: 10px;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: left;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__input {
      width: 100%;
      padding: 20px 0 20px 10px;
      height: 60px;
      box-sizing: border-box;
      margin-top: 20px;
      font-size: 1.8rem;
      color: #ffffff;
      background: #8bb0af;
      outline: none;
      border: none;
      font-weight: 100;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__forgot {
      text-align: right;
      font-weight: bold;
      margin-top: 15px;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__forgot-link {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.2rem;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__submit {
      width: 225px;
      height: 70px;
      margin: 0 auto;
      color: #96c1c0;
      background: #ffffff;
      font-weight: bold;
      font-size: 2.2rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__account-create {
      padding: 80px 0;
      text-align: center;
      font-size: 1.7rem;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__account-create-link {
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      position: relative;
      height: 30px;
      margin-top: 20px;
    }
    .content-wrapper .content-login-form .content-login-form__form .form__account-create-link::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: #ffffff;
    }
    .content-wrapper .content-table-header {
      margin-top: 40px;
      padding: 0 20px;
    }
    .content-wrapper .content-table-header__counter,
    .content-wrapper .content-table-header__control {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }
    .content-wrapper .content-table-header__counter {
      font-size: 1.8rem;
    }
    .content-wrapper .content-table-header__counter-select {
      width: 100px;
      height: 40px;
      font-size: 1.8rem;
      border: 1px solid #cbcbcb;
      cursor: pointer;
    }
    .content-wrapper .content-table-header__control {
      text-align: right;
      font-size: 1.6rem;
    }
    .content-wrapper .content-table-header__control-search {
      height: 25px;
      border: none;
      width: 160px;
      box-shadow: inset -1px 2px 12px -6px;
      padding-left: 10px;
      font-size: 1.6rem;
      font-family: 'Open Sans', sans-serif;
    }
    .content-wrapper .content-table-header__control-search:focus {
      outline: none;
      box-shadow: 2px 2px 12px 1px #656565;
      transition: .5s;
    }
    .content-wrapper .content-table-header__control-create {
      display: inline-block;
      width: 150px;
      height: 40px;
      margin-left: 30px;
      background: #96c1c0;
      color: #ffffff;
      text-decoration: none;
      font-size: 2rem;
      vertical-align: middle;
      text-align: center;
      line-height: 40px;
    }
    .content-wrapper .content-table-wrapper {
      width: 100%;
    }
    .content-wrapper .content-table-wrapper__table {
      width: 100%;
      margin-top: 20px;
      border: 2px solid #dcdcdc;
      font-size: 1.8rem;
    }
    .content-wrapper .content-table-wrapper__table thead {
      background: #f5f5f5;
    }
    .content-wrapper .content-table-wrapper__table thead td {
      text-align: left;
      font-weight: bold;
      padding: 15px 0 15px 10px;
    }
    .content-wrapper .content-table-wrapper__table tbody tr:nth-child(2n),
    .content-wrapper .content-table-wrapper__table tbody tr.table-bottom {
      background: #f5f5f5;
    }
    .content-wrapper .content-table-wrapper__table tbody tr.table-bottom {
      font-weight: bold;
    }
    .content-wrapper .content-table-wrapper__table tbody tr td {
      padding: 15px 0 15px 10px;
    }
    .content-wrapper .content-table-info {
      margin: 15px 0 30px 0;
      padding: 0 20px;
    }
    .content-wrapper .content-table-info__current-showing,
    .content-wrapper .content-table-info__pagination {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }
    .content-wrapper .content-table-info__current-showing {
      font-size: 2rem;
    }
    .content-wrapper .content-table-info__pagination {
      text-align: right;
    }
    .content-wrapper .content-table-info__pagination .table-pagination-list__item {
      display: inline-block;
      height: 35px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 5px;
      transition: .5s;
    }
    .content-wrapper .content-table-info__pagination .table-pagination-list__item_active,
    .content-wrapper .content-table-info__pagination .table-pagination-list__item:hover {
      background: #4b8ab9;
    }
    .content-wrapper .content-table-info__pagination .table-pagination-list__item_active .table-pagination-list__item-link,
    .content-wrapper .content-table-info__pagination .table-pagination-list__item:hover .table-pagination-list__item-link {
      color: #ffffff;
    }
    .content-wrapper .content-table-info__pagination .table-pagination-list__item_disable {
      pointer-events: none;
      cursor: not-allowed;
      opacity: .6;
    }
    .content-wrapper .content-table-info__pagination .table-pagination-list__item-link {
      color: #989898;
      text-decoration: none;
      line-height: 35px;
      display: block;
      height: 100%;
      padding: 0 15px;
      font-size: 1.6rem;
    }
    .content-wrapper .content-table-accounts {
      margin-bottom: 40px;
      font-size: 1.6rem;
    }
    .content-wrapper .content-user-info {
      margin: 40px 0;
      position: relative;
    }
    .content-wrapper .content-user-info__personal,
    .content-wrapper .content-user-info__appointments {
      display: inline-block;
      vertical-align: top;
      padding: 0 0 40px 0;
    }
    .content-wrapper .content-user-info__personal {
      width: 70%;
    }
    .content-wrapper .content-user-info__personal .personal-photo {
      font-size: 2.6rem;
    }
    .content-wrapper .content-user-info__personal .personal-photo__photo {
      width: 100px;
      height: 100px;
      display: inline-block;
      vertical-align: middle;
    }
    .content-wrapper .content-user-info__personal .personal-info {
      margin-top: 20px;
      font-weight: 400;
    }
    .content-wrapper .content-user-info__personal .personal-info__contacts,
    .content-wrapper .content-user-info__personal .personal-info__appointments {
      display: inline-block;
      vertical-align: top;
      width: 49.5%;
    }
    .content-wrapper .content-user-info__personal .personal-info-list {
      margin-bottom: 40px;
      font-size: 1.8rem;
    }
    .content-wrapper .content-user-info__personal .personal-info-list__item {
      margin-bottom: 5px;
    }
    .content-wrapper .content-user-info__personal .personal-info-list__item_head {
      font-weight: bold;
    }
    .content-wrapper .content-user-info__personal .personal-edit {
      display: inline-block;
      width: 150px;
      height: 40px;
      background: #96c1c0;
      color: #ffffff;
      text-decoration: none;
      font-size: 2rem;
      vertical-align: middle;
      text-align: center;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      right: 50%;
    }
    .content-wrapper .content-user-info__appointments {
      width: 29.5%;
    }
    .content-wrapper .content-user-info__appointments .appointments-header {
      font-size: 2.6rem;
      height: 100px;
      line-height: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .content-wrapper .content-user-info__appointments .appointments-wrapper {
      margin-top: 20px;
      overflow-y: scroll;
      width: 100%;
      height: 400px;
      font-size: 1.8rem;
    }
    .content-wrapper .content-user-info__appointments .appointments-wrapper-list__item {
      height: 50px;
      background: #5c8281;
      color: #ffffff;
      border-bottom: 1px solid;
      line-height: 50px;
      padding-left: 10px;
      box-sizing: border-box;
    }
    .content-wrapper .content-user-info__appointments .appointments-wrapper-list__item span:not(:last-child),
    .content-wrapper .content-user-info__appointments .appointments-wrapper-list__item .fa {
      padding-right: 10px;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer {
      margin-top: 20px;
      padding-bottom: 40px;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block {
      display: inline-block;
      vertical-align: middle;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block:not(:last-child) {
      margin-right: 16%;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block__radio {
      display: none;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block__radio + label {
      font-size: 1.8rem;
      cursor: pointer;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block__radio + label span {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin: -4px 10px 0 0;
      border: 4px solid #8f8f8f;
      border-radius: 50%;
      box-sizing: border-box;
      transition: 1s;
    }
    .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block__radio:checked + label span {
      background: #96c1c0;
    }
    .content-wrapper .content-user-info__appointments .appointments-new {
      display: inline-block;
      width: 200px;
      height: 40px;
      background: #96c1c0;
      color: #ffffff;
      text-decoration: none;
      font-size: 1.6rem;
      vertical-align: middle;
      text-align: center;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      right: 14%;
    }
    .content-wrapper .content-form {
      padding: 40px 0;
    }
    .content-wrapper .content-form-group {
      display: inline-block;
      vertical-align: top;
      width: 49.5%;
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .content-wrapper .content-form-group__text {
      margin-left: 20px;
    }
    .content-wrapper .content-form-group__input {
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      display: block;
      width: 95%;
      margin: 5px 0 0;
      padding: 0 0 0 15px;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid #e6e6e6;
      font-weight: 100;
    }
    .content-wrapper .content-form-group_file {
      width: 15%;
    }
    .content-wrapper .content-form-group_file .content-form-group__text {
      white-space: nowrap;
    }
    .content-wrapper .content-form-group_file .content-form-group__input {
      display: none;
    }
    .content-wrapper .content-form-group_file .content-form-group__label {
      height: 50px;
      width: 100%;
      border: 1px solid #e6e6e6;
      display: block;
      margin: 5px 0 0;
      cursor: pointer;
    }
    .content-wrapper .content-form-group_file .content-form-group__label .fa {
      color: #656565;
      font-size: 3rem;
      line-height: 50px;
      padding-left: 20px;
    }
    .content-wrapper .content-form .content-form-submit-block {
      text-align: right;
      margin-top: 20px;
    }
    .content-wrapper .content-form .content-form-submit-block__btn {
      width: 180px;
      height: 50px;
      outline: none;
      background: #96c1c0;
      color: #ffffff;
      font-size: 2rem;
      text-align: center;
      line-height: 40px;
      margin-right: 3.5%;
      border: none;
      cursor: pointer;
    }
    .content-wrapper .content-form_coloured {
      color: #ffffff;
    }
    .content-wrapper .content-form_coloured .content-form-header {
      font-size: 1.8rem;
      line-height: initial;
      margin-bottom: 40px;
    }
    .content-wrapper .content-form_coloured .content-form-header__header {
      font-size: 3.2rem;
      margin: 0 0 20px 0;
      font-weight: bold;
    }
    .content-wrapper .content-form_coloured .content-form-header__emphasizing {
      font-weight: bold;
    }
    .content-wrapper .content-form_coloured .content-form-group__input {
      background: #8bb0af;
      color: #ffffff;
    }
    .content-wrapper .content-form_coloured .content-form-group_file .content-form-group__label {
      background: #8bb0af;
    }
    .content-wrapper .content-form_coloured .content-form-group_file .content-form-group__label .fa {
      color: #ffffff;
    }
    .content-wrapper .content-form_coloured .content-form-group_checkbox .content-form-group__label {
      cursor: pointer;
    }
    .content-wrapper .content-form_coloured .content-form-group_checkbox .content-form-group__input {
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      margin: 3px 5px 0 0;
    }
    .content-wrapper .content-form_coloured .content-form-group_checkbox .content-form-group__input:focus {
      box-shadow: none;
    }
    .content-wrapper .content-form_coloured .content-form-group_checkbox .content-form-group__text {
      display: inline-block;
      vertical-align: middle;
      margin: 14px 0 0 0;
      line-height: 3rem;
      width: 80%;
      width: calc(100% - 60px);
    }
    .content-wrapper .content-form_coloured .content-form-submit-block {
      text-align: right;
      margin-top: 20px;
    }
    .content-wrapper .content-form_coloured .content-form-submit-block__btn {
      background: #ffffff;
      color: #96c1c0;
    }
    .content-wrapper .content-client-edit {
      text-align: center;
      height: 750px;
    }
    .content-wrapper .content-client-edit__model,
    .content-wrapper .content-client-edit__data {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      height: 100%;
    }
    .content-wrapper .content-client-edit__model {
      width: 33%;
    }
    .content-wrapper .content-client-edit__model .model__view {
      height: 90%;
      background: red;
    }
    .content-wrapper .content-client-edit__model .model__rotate {
      height: 10%;
      background: #96c1c0;
      position: relative;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer {
      position: absolute;
      width: 70%;
      top: 45%;
      left: 13%;
      -webkit-appearance: none;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer:focus {
      outline: none;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #656565;
      background: #fff;
      margin-top: -11px;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-moz-range-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #656565;
      background: #fff;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-ms-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #656565;
      background: #fff;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #656565;
      border-radius: 10px;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer:focus::-webkit-slider-runnable-track {
      background: #656565;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #656565;
      border-radius: 10px;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-ms-fill-lower {
      background: #656565;
      border-radius: 10px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer:focus::-ms-fill-lower {
      background: #3071a9;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer::-ms-fill-upper {
      background: #656565;
      border-radius: 10px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    .content-wrapper .content-client-edit__model .model__rotate-changer:focus::-ms-fill-upper {
      background: #656565;
    }
    .content-wrapper .content-client-edit__data {
      width: 66%;
    }
    .content-wrapper .content-client-edit__data .data-control {
      padding: 20px 0 20px 20px;
    }
    .content-wrapper .content-client-edit__data .data-control__date {
      font-size: 2.4rem;
      line-height: 50px;
    }
    .content-wrapper .content-client-edit__data .data-control__date .fa {
      margin-right: 10px;
    }
    .content-wrapper .content-client-edit__data .data-control__btn {
      float: right;
      width: 180px;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      background: #96c1c0;
      color: #ffffff;
      font-size: 2.6rem;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      text-decoration: none;
    }
    .content-wrapper .content-client-edit__data .data-changer {
      overflow-y: scroll;
      height: 90%;
      height: calc(100% - 90px);
    }
    .content-wrapper .content-client-edit__data .data-changer-list {
      width: 100%;
    }
    .content-wrapper .content-client-edit__data .data-changer-list__item {
      width: 100%;
      font-size: 2.6rem;
      border-bottom: 2px solid #96c1c0;
      background: #e8e8e8;
      color: #96c1c0;
      font-weight: bold;
      position: relative;
      min-height: 80px;
    }
    .content-wrapper .content-client-edit__data .data-changer-list__item .data-text {
      padding-left: 20px;
      line-height: 80px;
    }
    .content-wrapper .content-client-edit__data .data-changer-list__item .data-input {
      background: #e8e8e8;
      border: 15px solid #ffffff;
      display: block;
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      font-size: 2.6rem;
      padding-left: 20px;
      font-weight: 100;
    }
    .content-wrapper .content-client-edit__data .data-changer-list__item .fa {
      color: #da0200;
      position: absolute;
      right: 20px;
      top: 25px;
      cursor: pointer;
    }
    .content-wrapper .content-client-edit__data .data-changer .data-changer__btn {
      width: 95%;
      height: 90px;
      margin: 20px auto;
      display: block;
      background: #4f706e;
      color: #ffffff;
      font-size: 2.6rem;
      text-align: center;
      line-height: 90px;
      cursor: pointer;
    }
/* Content styles end */

/* Footer styles start */
.footer-wrapper {
  max-width: 1370px;
  margin: 0 auto;
}
    .footer-nav,
    .footer-info {
      height: 90px;
      box-sizing: border-box;
    }
    .footer-nav {
      background: #303030;
      padding: 35px 20px;
    }
    .footer-nav-list__item {
      display: inline-block;
    }
    .footer-nav-list__item:not(:last-child) {
      margin-right: 50px;
    }
    .footer-nav-list__item-link {
      color: #94c68d;
      text-decoration: none;
      font-size: 2rem;
      transition: .5s;
    }
    .footer-nav-list__item-link:hover {
      color: #4f706e;
    }
    .footer-info {
      background: #1d1d1d;
      padding: 25px 20px;
    }
    .footer-info__copyright,
    .footer-info__social {
      display: inline-block;
      vertical-align: middle;
      width: 49%;
    }
    .footer-info__copyright {
      color: #606060;
      font-size: 2rem;
    }
    .footer-info__social {
      text-align: right;
    }
    .footer-info__social .footer-social-list__item {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
    .footer-info__social .footer-social-list__item:not(:last-child) {
      margin-right: 20px;
    }
    .footer-info__social .footer-social-list__item-link {
      display: block;
      height: 100%;
      text-align: center;
      line-height: 40px;
    }
    .footer-info__social .footer-social-list__item-link .fa {
      color: #94c68d;
      font-size: 4rem;
      transition: .5s;
    }
    .footer-info__social .footer-social-list__item-link .fa:hover {
      color: #5c8281;
    }
/* Footer styles end */

/* Responsive styles */
@media screen and (max-width: 1120px) {
  .header {
    height: 90px;
  }
  .header-logo-link {
    margin: -15px 0 0 20px;
  }
  .header-logo__image {
    width: 300px;
  }
  .header-nav-list__item:not(:last-child) {
    margin-right: 15px;
  }
  .header-nav-list__item-link {
    font-size: 1.5rem;
  }
  .content-wrapper .content-login-form {
    padding: 0 40px;
  }
  .content-wrapper .content-login-form .content-login-form__form .form__forgot {
    margin: 40px;
    font-size: 1.2rem;
    text-align: center;
  }
  .content-wrapper .content-table-header__counter,
  .content-wrapper .content-table-header__control {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .content-wrapper .content-table-header__control {
    text-align: center;
  }
  .footer-nav,
  .footer-info {
    height: 80px;
  }
  .footer-nav-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer-nav-list__item-link {
    font-size: 1.4rem;
  }
  .footer-info__copyright {
    font-size: 1.5rem;
  }
  .footer-info__social .footer-social-list__item {
    width: 30px;
    height: 30px;
  }
  .footer-info__social .footer-social-list__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer-info__social .footer-social-list__item-link {
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 960px) {
  .content-wrapper .content-table-info__current-showing,
  .content-wrapper .content-table-info__pagination {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .content-wrapper .content-client-edit {
    margin: 40px 0;
    height: auto;
  }
  .content-wrapper .content-client-edit__model {
    width: 240px;
    margin: 20px auto;
  }
  .content-wrapper .content-client-edit__model .model__view {
    height: 300px;
  }
  .content-wrapper .content-client-edit__model .model__rotate {
    height: 60px;
  }
  .content-wrapper .content-client-edit__data {
    width: 100%;
  }
  .content-wrapper .content-client-edit__data .data-control__btn {
    display: block;
    float: none;
    margin-top: 10px;
  }
  .content-wrapper .content-client-edit__data .data-changer {
    max-height: 350px;
  }
  .content-wrapper .content-client-edit__data .data-changer-list {
    width: 100%;
  }
  .content-wrapper .content-client-edit__data .data-changer-list__item {
    width: 100%;
    font-size: 2rem;
  }
  .content-wrapper .content-client-edit__data .data-changer-list__item .data-input {
    font-size: 2rem;
  }
  .content-wrapper .content-client-edit__data .data-changer .data-changer__btn {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .content-wrapper .content-table-header__control {
    text-align: center;
  }
  .content-wrapper .content-table-header__control-create {
    display: block;
    margin: 20px auto;
  }
  .content-wrapper .content-table-wrapper {
    overflow-x: scroll;
  }
  .content-wrapper .content-table-wrapper__table {
    width: 720px;
    font-size: 1.4rem;
  }
  .content-wrapper .content-table-info {
    padding: 0;
  }
  .content-wrapper .content-table-info__current-showing {
    font-size: 1.4rem;
  }
  .content-wrapper .content-table-info__pagination {
    text-align: center;
  }
  .content-wrapper .content-table-info__pagination .table-pagination-list__item {
    height: 20px;
  }
  .content-wrapper .content-table-info__pagination .table-pagination-list__item-link {
    line-height: 20px;
    padding: 0 8px;
    font-size: 1.2rem;
  }
  .content-wrapper .content-user-info__personal,
  .content-wrapper .content-user-info__appointments {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .content-wrapper .content-user-info__personal {
    width: 100%;
  }
  .content-wrapper .content-user-info__personal .personal-photo {
    font-size: 1.8rem;
  }
  .content-wrapper .content-user-info__personal .personal-photo__photo {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  .content-wrapper .content-user-info__personal .personal-info__contacts,
  .content-wrapper .content-user-info__personal .personal-info__appointments {
    display: block;
    width: 100%;
  }
  .content-wrapper .content-user-info__personal .personal-info-list {
    font-size: 1.4rem;
  }
  .content-wrapper .content-user-info__personal .personal-edit {
    position: static;
  }
  .content-wrapper .content-user-info__appointments {
    width: 100%;
  }
  .content-wrapper .content-user-info__appointments .appointments-header {
    font-size: 1.8rem;
    height: 100px;
    line-height: 100px;
  }
  .content-wrapper .content-user-info__appointments .appointments-wrapper {
    height: 200px;
    font-size: 1.4rem;
    text-align: left;
  }
  .content-wrapper .content-user-info__appointments .appointments-view-changer .appointments-radiobutton-block__radio + label {
    font-size: 1.4rem;
  }
  .content-wrapper .content-user-info__appointments .appointments-new {
    position: static;
  }
  .content-wrapper .content-form-group {
    width: 100%;
  }
  .content-wrapper .content-form-group__input {
    width: 100%;
  }
  .content-wrapper .content-form-group_file {
    width: 40%;
  }
  .content-wrapper .content-form .content-form-submit-block {
    text-align: center;
  }
  .header {
    height: auto;
  }
  .header-logo {
    width: 100%;
    margin: 20px 0;
    height: auto;
    text-align: center;
  }
  .header-logo-link {
    position: static;
    margin: 0;
  }
  .header-logo__image {
    width: 70%;
  }
  .header-nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .header-nav-list {
    padding: 0;
  }
  .footer-nav,
  .footer-info {
    height: auto;
  }
  .footer-nav {
    padding: 16px 20px;
    text-align: center;
  }
  .footer-nav-list__item {
    margin-top: 10px;
  }
  .footer-nav-list__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer-nav-list__item-link {
    font-size: 1.2rem;
  }
  .footer-info__copyright,
  .footer-info__social {
    width: 100%;
    text-align: center;
  }
  .footer-info__copyright {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .footer-info__social .footer-social-list__item {
    width: 30px;
    height: 30px;
  }
  .footer-info__social .footer-social-list__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer-info__social .footer-social-list__item-link {
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  .header {
    height: auto;
  }
  .header-nav-list {
    text-align: center;
  }
  .header-nav-list__item {
    width: 45%;
    height: 50px;
  }
  .header-nav-list__item:not(:last-child) {
    margin-right: 0;
  }
  .content-header__breadcrumbs {
    padding: 30px 0;
    font-size: 1.5rem;
  }
}
